## deries object in 1 D labbeled array

In [1]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
type(s1)

pandas.core.series.Series

In [3]:
# series can be indexed and change to its values

In [4]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

# we can also create a series object from a dict

In [5]:
import pandas as pd

In [6]:
s3=pd.Series({'a':10,'b':20,'c':30})

In [7]:
s3

a    10
b    20
c    30
dtype: int64

## we can change the index position

In [8]:
import pandas as pd

In [9]:
pd.Series({'a':10,'b':20,'c':30},index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

## extracting the individual values on series

In [10]:
s11=pd.Series([1,2,3,4,5,6,7,8,9])

In [11]:
s22=pd.Series([10,20,30,40,50,60,70,80,90])

In [12]:
s11

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [13]:
s22

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [14]:
s11[2]

3

In [15]:
s11[2:5] # slicing

2    3
3    4
4    5
dtype: int64

In [16]:
s11[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

## basic math operation on series

In [17]:
s11+10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [18]:
s11*10

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [19]:
s11-10

0   -9
1   -8
2   -7
3   -6
4   -5
5   -4
6   -3
7   -2
8   -1
dtype: int64

In [20]:
s11+s22

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

## creating a data frame

In [21]:
import pandas as pd

In [22]:
df1=pd.DataFrame({"Id":[0,1,2,3,4,5,6,7,8,9],
                  "Name":['Thomas','Santu','Prasanna','Riwaz','Sajal','Prince','Manjil','Sambad','Ram','Shyam'],
                  "Age":[30,21,20,16,22,21,22,21,21,34],
                  "Address":['Buddhanagar','Bansewor','Patan','Chyasal','Baneswor','Shankamul','Maitighar','Jawalakhel','Buddhanagar','Gulmi'],
                  "Sub":['Data','Web','Physics','OM','ESS','DSA','Maths','Science','Probability','Project Manag'],
                  "Aim":['Engineer','Doctor','Minister','QA','Scientist','Data Scientist','DevOps','Cricketer','Footballer','Musician'],
                  "Hobby":['Football','cricket','music','basketball','football','cricket','music','basketball','act','act']
    
})

In [23]:
df1

   Id      Name  Age      Address            Sub             Aim       Hobby
0   0    Thomas   30  Buddhanagar           Data        Engineer    Football
1   1     Santu   21     Bansewor            Web          Doctor     cricket
2   2  Prasanna   20        Patan        Physics        Minister       music
3   3     Riwaz   16      Chyasal             OM              QA  basketball
4   4     Sajal   22     Baneswor            ESS       Scientist    football
5   5    Prince   21    Shankamul            DSA  Data Scientist     cricket
6   6    Manjil   22    Maitighar          Maths          DevOps       music
7   7    Sambad   21   Jawalakhel        Science       Cricketer  basketball
8   8       Ram   21  Buddhanagar    Probability      Footballer         act
9   9     Shyam   34        Gulmi  Project Manag        Musician         act

In [24]:
df1.to_excel('students.xlsx',index=False)

In [25]:
df1.head()

   Id      Name  Age      Address      Sub        Aim       Hobby
0   0    Thomas   30  Buddhanagar     Data   Engineer    Football
1   1     Santu   21     Bansewor      Web     Doctor     cricket
2   2  Prasanna   20        Patan  Physics   Minister       music
3   3     Riwaz   16      Chyasal       OM         QA  basketball
4   4     Sajal   22     Baneswor      ESS  Scientist    football

In [26]:
df1.head(10)

   Id      Name  Age      Address            Sub             Aim       Hobby
0   0    Thomas   30  Buddhanagar           Data        Engineer    Football
1   1     Santu   21     Bansewor            Web          Doctor     cricket
2   2  Prasanna   20        Patan        Physics        Minister       music
3   3     Riwaz   16      Chyasal             OM              QA  basketball
4   4     Sajal   22     Baneswor            ESS       Scientist    football
5   5    Prince   21    Shankamul            DSA  Data Scientist     cricket
6   6    Manjil   22    Maitighar          Maths          DevOps       music
7   7    Sambad   21   Jawalakhel        Science       Cricketer  basketball
8   8       Ram   21  Buddhanagar    Probability      Footballer         act
9   9     Shyam   34        Gulmi  Project Manag        Musician         act

In [27]:
df1.tail()

   Id    Name  Age      Address            Sub             Aim       Hobby
5   5  Prince   21    Shankamul            DSA  Data Scientist     cricket
6   6  Manjil   22    Maitighar          Maths          DevOps       music
7   7  Sambad   21   Jawalakhel        Science       Cricketer  basketball
8   8     Ram   21  Buddhanagar    Probability      Footballer         act
9   9   Shyam   34        Gulmi  Project Manag        Musician         act

In [28]:
df1.describe()

             Id        Age
count  10.00000  10.000000
mean    4.50000  22.800000
std     3.02765   5.223877
min     0.00000  16.000000
25%     2.25000  21.000000
50%     4.50000  21.000000
75%     6.75000  22.000000
max     9.00000  34.000000

In [67]:
import pandas as pd

In [41]:
df = pd.DataFrame({
    'A':[i for i in range(1,101)],
    'B':[i**2 for i in range(1,101)]
    })
#set display options
pd.set_option('display.max_rows',20) # None to display all
pd.set_option('display.max_columns',5)
pd.set_option('display.float_format','{:.2f}'.format)

In [42]:
print(df)

      A      B
0     1      1
1     2      4
2     3      9
3     4     16
4     5     25
..  ...    ...
95   96   9216
96   97   9409
97   98   9604
98   99   9801
99  100  10000

[100 rows x 2 columns]

In [68]:
import pandas as pd
df=pd.read_csv('Data_Sets/iris.csv')

In [69]:
pd.set_option('display.max_rows',None)
df.head(60)

    sepal_length  sepal_width  petal_length  petal_width     species
0           5.10         3.50          1.40         0.20      setosa
1           4.90         3.00          1.40         0.20      setosa
2           4.70         3.20          1.30         0.20      setosa
3           4.60         3.10          1.50         0.20      setosa
4           5.00         3.60          1.40         0.20      setosa
5           5.40         3.90          1.70         0.40      setosa
6           4.60         3.40          1.40         0.30      setosa
7           5.00         3.40          1.50         0.20      setosa
8           4.40         2.90          1.40         0.20      setosa
9           4.90         3.10          1.50         0.10      setosa
10          5.40         3.70          1.50         0.20      setosa
11          4.80         3.40          1.60         0.20      setosa
12          4.80         3.00          1.40         0.10      setosa
13          4.30         3.00          1.10         0.10      setosa
14          5.80         4.00          1.20         0.20      setosa
15          5.70         4.40          1.50         0.40      setosa
16          5.40         3.90          1.30         0.40      setosa
17          5.10         3.50          1.40         0.30      setosa
18          5.70         3.80          1.70         0.30      setosa
19          5.10         3.80          1.50         0.30      setosa
20          5.40         3.40          1.70         0.20      setosa
21          5.10         3.70          1.50         0.40      setosa
22          4.60         3.60          1.00         0.20      setosa
23          5.10         3.30          1.70         0.50      setosa
24          4.80         3.40          1.90         0.20      setosa
25          5.00         3.00          1.60         0.20      setosa
26          5.00         3.40          1.60         0.40      setosa
27          5.20         3.50          1.50         0.20      setosa
28          5.20         3.40          1.40         0.20      setosa
29          4.70         3.20          1.60         0.20      setosa
30          4.80         3.10          1.60         0.20      setosa
31          5.40         3.40          1.50         0.40      setosa
32          5.20         4.10          1.50         0.10      setosa
33          5.50         4.20          1.40         0.20      setosa
34          4.90         3.10          1.50         0.10      setosa
35          5.00         3.20          1.20         0.20      setosa
36          5.50         3.50          1.30         0.20      setosa
37          4.90         3.10          1.50         0.10      setosa
38          4.40         3.00          1.30         0.20      setosa
39          5.10         3.40          1.50         0.20      setosa
40          5.00         3.50          1.30         0.30      setosa
41          4.50         2.30          1.30         0.30      setosa
42          4.40         3.20          1.30         0.20      setosa
43          5.00         3.50          1.60         0.60      setosa
44          5.10         3.80          1.90         0.40      setosa
45          4.80         3.00          1.40         0.30      setosa
46          5.10         3.80          1.60         0.20      setosa
47          4.60         3.20          1.40         0.20      setosa
48          5.30         3.70          1.50         0.20      setosa
49          5.00         3.30          1.40         0.20      setosa
50          7.00         3.20          4.70         1.40  versicolor
51          6.40         3.20          4.50         1.50  versicolor
52          6.90         3.10          4.90         1.50  versicolor
53          5.50         2.30          4.00         1.30  versicolor
54          6.50         2.80          4.60         1.50  versicolor
55          5.70         2.80          4.50         1.30  versicolor
56          6.30         3.30          4.70         1.60  versicolor
57          4.90         2.40          3.30         1.00  versicolor
58          6.60         2.90          4.60         1.30  versicolor
59          5.20         2.70          3.90         1.40  versicolor

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [52]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145          6.70         3.00          5.20         2.30  virginica
146          6.30         2.50          5.00         1.90  virginica
147          6.50         3.00          5.20         2.00  virginica
148          6.20         3.40          5.40         2.30  virginica
149          5.90         3.00          5.10         1.80  virginica

In [53]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count        150.00       150.00        150.00       150.00
mean           5.84         3.05          3.76         1.20
std            0.83         0.43          1.76         0.76
min            4.30         2.00          1.00         0.10
25%            5.10         2.80          1.60         0.30
50%            5.80         3.00          4.35         1.30
75%            6.40         3.30          5.10         1.80
max            7.90         4.40          6.90         2.50

In [55]:
df.iloc[0:3,0:3]  #using iloc is exclusive  and can give location of column so use slicing,...

   sepal_length  sepal_width  petal_length
0          5.10         3.50          1.40
1          4.90         3.00          1.40
2          4.70         3.20          1.30

In [57]:
df.loc[5:10,('petal_length','petal_width')]  #using loc method is incluxive

    petal_length  petal_width
5           1.70         0.40
6           1.40         0.30
7           1.50         0.20
8           1.40         0.20
9           1.50         0.10
10          1.50         0.20

In [65]:
#df.drop(columns=['sepal_length','petal_length'],axis=1,inplace=True) # to drop column

In [63]:
df.head()

   sepal_width  petal_width species
0         3.50         0.20  setosa
1         3.00         0.20  setosa
2         3.20         0.20  setosa
3         3.10         0.20  setosa
4         3.60         0.20  setosa

In [70]:
df.drop([3,4,5,6,7])

     sepal_length  sepal_width  petal_length  petal_width     species
0            5.10         3.50          1.40         0.20      setosa
1            4.90         3.00          1.40         0.20      setosa
2            4.70         3.20          1.30         0.20      setosa
8            4.40         2.90          1.40         0.20      setosa
9            4.90         3.10          1.50         0.10      setosa
10           5.40         3.70          1.50         0.20      setosa
11           4.80         3.40          1.60         0.20      setosa
12           4.80         3.00          1.40         0.10      setosa
13           4.30         3.00          1.10         0.10      setosa
14           5.80         4.00          1.20         0.20      setosa
15           5.70         4.40          1.50         0.40      setosa
16           5.40         3.90          1.30         0.40      setosa
17           5.10         3.50          1.40         0.30      setosa
18           5.70         3.80          1.70         0.30      setosa
19           5.10         3.80          1.50         0.30      setosa
20           5.40         3.40          1.70         0.20      setosa
21           5.10         3.70          1.50         0.40      setosa
22           4.60         3.60          1.00         0.20      setosa
23           5.10         3.30          1.70         0.50      setosa
24           4.80         3.40          1.90         0.20      setosa
25           5.00         3.00          1.60         0.20      setosa
26           5.00         3.40          1.60         0.40      setosa
27           5.20         3.50          1.50         0.20      setosa
28           5.20         3.40          1.40         0.20      setosa
29           4.70         3.20          1.60         0.20      setosa
30           4.80         3.10          1.60         0.20      setosa
31           5.40         3.40          1.50         0.40      setosa
32           5.20         4.10          1.50         0.10      setosa
33           5.50         4.20          1.40         0.20      setosa
34           4.90         3.10          1.50         0.10      setosa
35           5.00         3.20          1.20         0.20      setosa
36           5.50         3.50          1.30         0.20      setosa
37           4.90         3.10          1.50         0.10      setosa
38           4.40         3.00          1.30         0.20      setosa
39           5.10         3.40          1.50         0.20      setosa
40           5.00         3.50          1.30         0.30      setosa
41           4.50         2.30          1.30         0.30      setosa
42           4.40         3.20          1.30         0.20      setosa
43           5.00         3.50          1.60         0.60      setosa
44           5.10         3.80          1.90         0.40      setosa
45           4.80         3.00          1.40         0.30      setosa
46           5.10         3.80          1.60         0.20      setosa
47           4.60         3.20          1.40         0.20      setosa
48           5.30         3.70          1.50         0.20      setosa
49           5.00         3.30          1.40         0.20      setosa
50           7.00         3.20          4.70         1.40  versicolor
51           6.40         3.20          4.50         1.50  versicolor
52           6.90         3.10          4.90         1.50  versicolor
53           5.50         2.30          4.00         1.30  versicolor
54           6.50         2.80          4.60         1.50  versicolor
55           5.70         2.80          4.50         1.30  versicolor
56           6.30         3.30          4.70         1.60  versicolor
57           4.90         2.40          3.30         1.00  versicolor
58           6.60         2.90          4.60         1.30  versicolor
59           5.20         2.70          3.90         1.40  versicolor
60           5.00         2.00          3.50         1.00  versicolor
61           5.90         3.00          4.20         1.50  versicolor
62           6.00         2.20          4.00         1.00  versicolor
63           6.10         2.90          4.70         1.40  versicolor
64           5.60         2.90          3.60         1.30  versicolor
65           6.70         3.10          4.40         1.40  versicolor
66           5.60         3.00          4.50         1.50  versicolor
67           5.80         2.70          4.10         1.00  versicolor
68           6.20         2.20          4.50         1.50  versicolor
69           5.60         2.50          3.90         1.10  versicolor
70           5.90         3.20          4.80         1.80  versicolor
71           6.10         2.80          4.00         1.30  versicolor
72           6.30         2.50          4.90         1.50  versicolor
73           6.10         2.80          4.70         1.20  versicolor
74           6.40         2.90          4.30         1.30  versicolor
75           6.60         3.00          4.40         1.40  versicolor
76           6.80         2.80          4.80         1.40  versicolor
77           6.70         3.00          5.00         1.70  versicolor
78           6.00         2.90          4.50         1.50  versicolor
79           5.70         2.60          3.50         1.00  versicolor
80           5.50         2.40          3.80         1.10  versicolor
81           5.50         2.40          3.70         1.00  versicolor
82           5.80         2.70          3.90         1.20  versicolor
83           6.00         2.70          5.10         1.60  versicolor
84           5.40         3.00          4.50         1.50  versicolor
85           6.00         3.40          4.50         1.60  versicolor
86           6.70         3.10          4.70         1.50  versicolor
87           6.30         2.30          4.40         1.30  versicolor
88           5.60         3.00          4.10         1.30  versicolor
89           5.50         2.50          4.00         1.30  versicolor
90           5.50         2.60          4.40         1.20  versicolor
91           6.10         3.00          4.60         1.40  versicolor
92           5.80         2.60          4.00         1.20  versicolor
93           5.00         2.30          3.30         1.00  versicolor
94           5.60         2.70          4.20         1.30  versicolor
95           5.70         3.00          4.20         1.20  versicolor
96           5.70         2.90          4.20         1.30  versicolor
97           6.20         2.90          4.30         1.30  versicolor
98           5.10         2.50          3.00         1.10  versicolor
99           5.70         2.80          4.10         1.30  versicolor
100          6.30         3.30          6.00         2.50   virginica
101          5.80         2.70          5.10         1.90   virginica
102          7.10         3.00          5.90         2.10   virginica
103          6.30         2.90          5.60         1.80   virginica
104          6.50         3.00          5.80         2.20   virginica
105          7.60         3.00          6.60         2.10   virginica
106          4.90         2.50          4.50         1.70   virginica
107          7.30         2.90          6.30         1.80   virginica
108          6.70         2.50          5.80         1.80   virginica
109          7.20         3.60          6.10         2.50   virginica
110          6.50         3.20          5.10         2.00   virginica
111          6.40         2.70          5.30         1.90   virginica
112          6.80         3.00          5.50         2.10   virginica
113          5.70         2.50          5.00         2.00   virginica
114          5.80         2.80          5.10         2.40   virginica
115          6.40         3.20          5.30         2.30   virginica
116          6.50         3.00          5.50         1.80   virginica
117          7.70         3.80          6.70         2.20   virginica
118          7.70         2.60          6.90         2.30   virginica
119          6.00         2.20          5.00         1.50   virginica
120          6.90         3.20          5.70         2.30   virginica
121          5.60         2.80          4.90         2.00   virginica
122          7.70         2.80          6.70         2.00   virginica
123          6.30         2.70          4.90         1.80   virginica
124          6.70         3.30          5.70         2.10   virginica
125          7.20         3.20          6.00         1.80   virginica
126          6.20         2.80          4.80         1.80   virginica
127          6.10         3.00          4.90         1.80   virginica
128          6.40         2.80          5.60         2.10   virginica
129          7.20         3.00          5.80         1.60   virginica
130          7.40         2.80          6.10         1.90   virginica
131          7.90         3.80          6.40         2.00   virginica
132          6.40         2.80          5.60         2.20   virginica
133          6.30         2.80          5.10         1.50   virginica
134          6.10         2.60          5.60         1.40   virginica
135          7.70         3.00          6.10         2.30   virginica
136          6.30         3.40          5.60         2.40   virginica
137          6.40         3.10          5.50         1.80   virginica
138          6.00         3.00          4.80         1.80   virginica
139          6.90         3.10          5.40         2.10   virginica
140          6.70         3.10          5.60         2.40   virginica
141          6.90         3.10          5.10         2.30   virginica
142          5.80         2.70          5.10         1.90   virginica
143          6.80         3.20          5.90         2.30   virginica
144          6.70         3.30          5.70         2.50   virginica
145          6.70         3.00          5.20         2.30   virginica
146          6.30         2.50          5.00         1.90   virginica
147          6.50         3.00          5.20         2.00   virginica
148          6.20         3.40          5.40         2.30   virginica
149          5.90         3.00          5.10         1.80   virginica

In [71]:
def double_make(s):
    return s*2

In [72]:
df[['sepal_length','petal_width']].apply(double_make)

     sepal_length  petal_width
0           10.20         0.40
1            9.80         0.40
2            9.40         0.40
3            9.20         0.40
4           10.00         0.40
5           10.80         0.80
6            9.20         0.60
7           10.00         0.40
8            8.80         0.40
9            9.80         0.20
10          10.80         0.40
11           9.60         0.40
12           9.60         0.20
13           8.60         0.20
14          11.60         0.40
15          11.40         0.80
16          10.80         0.80
17          10.20         0.60
18          11.40         0.60
19          10.20         0.60
20          10.80         0.40
21          10.20         0.80
22           9.20         0.40
23          10.20         1.00
24           9.60         0.40
25          10.00         0.40
26          10.00         0.80
27          10.40         0.40
28          10.40         0.40
29           9.40         0.40
30           9.60         0.40
31          10.80         0.80
32          10.40         0.20
33          11.00         0.40
34           9.80         0.20
35          10.00         0.40
36          11.00         0.40
37           9.80         0.20
38           8.80         0.40
39          10.20         0.40
40          10.00         0.60
41           9.00         0.60
42           8.80         0.40
43          10.00         1.20
44          10.20         0.80
45           9.60         0.60
46          10.20         0.40
47           9.20         0.40
48          10.60         0.40
49          10.00         0.40
50          14.00         2.80
51          12.80         3.00
52          13.80         3.00
53          11.00         2.60
54          13.00         3.00
55          11.40         2.60
56          12.60         3.20
57           9.80         2.00
58          13.20         2.60
59          10.40         2.80
60          10.00         2.00
61          11.80         3.00
62          12.00         2.00
63          12.20         2.80
64          11.20         2.60
65          13.40         2.80
66          11.20         3.00
67          11.60         2.00
68          12.40         3.00
69          11.20         2.20
70          11.80         3.60
71          12.20         2.60
72          12.60         3.00
73          12.20         2.40
74          12.80         2.60
75          13.20         2.80
76          13.60         2.80
77          13.40         3.40
78          12.00         3.00
79          11.40         2.00
80          11.00         2.20
81          11.00         2.00
82          11.60         2.40
83          12.00         3.20
84          10.80         3.00
85          12.00         3.20
86          13.40         3.00
87          12.60         2.60
88          11.20         2.60
89          11.00         2.60
90          11.00         2.40
91          12.20         2.80
92          11.60         2.40
93          10.00         2.00
94          11.20         2.60
95          11.40         2.40
96          11.40         2.60
97          12.40         2.60
98          10.20         2.20
99          11.40         2.60
100         12.60         5.00
101         11.60         3.80
102         14.20         4.20
103         12.60         3.60
104         13.00         4.40
105         15.20         4.20
106          9.80         3.40
107         14.60         3.60
108         13.40         3.60
109         14.40         5.00
110         13.00         4.00
111         12.80         3.80
112         13.60         4.20
113         11.40         4.00
114         11.60         4.80
115         12.80         4.60
116         13.00         3.60
117         15.40         4.40
118         15.40         4.60
119         12.00         3.00
120         13.80         4.60
121         11.20         4.00
122         15.40         4.00
123         12.60         3.60
124         13.40         4.20
125         14.40         3.60
126         12.40         3.60
127         12.20         3.60
128         12.80         4.20
129         14.40         3.20
130         14.80         3.80
131         15.80         4.00
132         12.80         4.40
133         12.60         3.00
134         12.20         2.80
135         15.40         4.60
136         12.60         4.80
137         12.80         3.60
138         12.00         3.60
139         13.80         4.20
140         13.40         4.80
141         13.80         4.60
142         11.60         3.80
143         13.60         4.60
144         13.40         5.00
145         13.40         4.60
146         12.60         3.80
147         13.00         4.00
148         12.40         4.60
149         11.80         3.60

In [73]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [74]:
df.sort_values(by='petal_length') #sorting in the ascending order

     sepal_length  sepal_width  petal_length  petal_width     species
22           4.60         3.60          1.00         0.20      setosa
13           4.30         3.00          1.10         0.10      setosa
14           5.80         4.00          1.20         0.20      setosa
35           5.00         3.20          1.20         0.20      setosa
36           5.50         3.50          1.30         0.20      setosa
40           5.00         3.50          1.30         0.30      setosa
38           4.40         3.00          1.30         0.20      setosa
42           4.40         3.20          1.30         0.20      setosa
2            4.70         3.20          1.30         0.20      setosa
41           4.50         2.30          1.30         0.30      setosa
16           5.40         3.90          1.30         0.40      setosa
17           5.10         3.50          1.40         0.30      setosa
45           4.80         3.00          1.40         0.30      setosa
33           5.50         4.20          1.40         0.20      setosa
28           5.20         3.40          1.40         0.20      setosa
47           4.60         3.20          1.40         0.20      setosa
49           5.00         3.30          1.40         0.20      setosa
0            5.10         3.50          1.40         0.20      setosa
4            5.00         3.60          1.40         0.20      setosa
1            4.90         3.00          1.40         0.20      setosa
12           4.80         3.00          1.40         0.10      setosa
6            4.60         3.40          1.40         0.30      setosa
8            4.40         2.90          1.40         0.20      setosa
34           4.90         3.10          1.50         0.10      setosa
10           5.40         3.70          1.50         0.20      setosa
32           5.20         4.10          1.50         0.10      setosa
31           5.40         3.40          1.50         0.40      setosa
15           5.70         4.40          1.50         0.40      setosa
27           5.20         3.50          1.50         0.20      setosa
9            4.90         3.10          1.50         0.10      setosa
7            5.00         3.40          1.50         0.20      setosa
3            4.60         3.10          1.50         0.20      setosa
48           5.30         3.70          1.50         0.20      setosa
21           5.10         3.70          1.50         0.40      setosa
19           5.10         3.80          1.50         0.30      setosa
39           5.10         3.40          1.50         0.20      setosa
37           4.90         3.10          1.50         0.10      setosa
30           4.80         3.10          1.60         0.20      setosa
29           4.70         3.20          1.60         0.20      setosa
11           4.80         3.40          1.60         0.20      setosa
26           5.00         3.40          1.60         0.40      setosa
25           5.00         3.00          1.60         0.20      setosa
46           5.10         3.80          1.60         0.20      setosa
43           5.00         3.50          1.60         0.60      setosa
18           5.70         3.80          1.70         0.30      setosa
5            5.40         3.90          1.70         0.40      setosa
23           5.10         3.30          1.70         0.50      setosa
20           5.40         3.40          1.70         0.20      setosa
24           4.80         3.40          1.90         0.20      setosa
44           5.10         3.80          1.90         0.40      setosa
98           5.10         2.50          3.00         1.10  versicolor
93           5.00         2.30          3.30         1.00  versicolor
57           4.90         2.40          3.30         1.00  versicolor
60           5.00         2.00          3.50         1.00  versicolor
79           5.70         2.60          3.50         1.00  versicolor
64           5.60         2.90          3.60         1.30  versicolor
81           5.50         2.40          3.70         1.00  versicolor
80           5.50         2.40          3.80         1.10  versicolor
69           5.60         2.50          3.90         1.10  versicolor
82           5.80         2.70          3.90         1.20  versicolor
59           5.20         2.70          3.90         1.40  versicolor
62           6.00         2.20          4.00         1.00  versicolor
92           5.80         2.60          4.00         1.20  versicolor
89           5.50         2.50          4.00         1.30  versicolor
53           5.50         2.30          4.00         1.30  versicolor
71           6.10         2.80          4.00         1.30  versicolor
88           5.60         3.00          4.10         1.30  versicolor
67           5.80         2.70          4.10         1.00  versicolor
99           5.70         2.80          4.10         1.30  versicolor
61           5.90         3.00          4.20         1.50  versicolor
96           5.70         2.90          4.20         1.30  versicolor
94           5.60         2.70          4.20         1.30  versicolor
95           5.70         3.00          4.20         1.20  versicolor
97           6.20         2.90          4.30         1.30  versicolor
74           6.40         2.90          4.30         1.30  versicolor
75           6.60         3.00          4.40         1.40  versicolor
90           5.50         2.60          4.40         1.20  versicolor
65           6.70         3.10          4.40         1.40  versicolor
87           6.30         2.30          4.40         1.30  versicolor
106          4.90         2.50          4.50         1.70   virginica
51           6.40         3.20          4.50         1.50  versicolor
78           6.00         2.90          4.50         1.50  versicolor
55           5.70         2.80          4.50         1.30  versicolor
68           6.20         2.20          4.50         1.50  versicolor
84           5.40         3.00          4.50         1.50  versicolor
85           6.00         3.40          4.50         1.60  versicolor
66           5.60         3.00          4.50         1.50  versicolor
54           6.50         2.80          4.60         1.50  versicolor
91           6.10         3.00          4.60         1.40  versicolor
58           6.60         2.90          4.60         1.30  versicolor
63           6.10         2.90          4.70         1.40  versicolor
56           6.30         3.30          4.70         1.60  versicolor
73           6.10         2.80          4.70         1.20  versicolor
50           7.00         3.20          4.70         1.40  versicolor
86           6.70         3.10          4.70         1.50  versicolor
70           5.90         3.20          4.80         1.80  versicolor
138          6.00         3.00          4.80         1.80   virginica
76           6.80         2.80          4.80         1.40  versicolor
126          6.20         2.80          4.80         1.80   virginica
72           6.30         2.50          4.90         1.50  versicolor
52           6.90         3.10          4.90         1.50  versicolor
121          5.60         2.80          4.90         2.00   virginica
123          6.30         2.70          4.90         1.80   virginica
127          6.10         3.00          4.90         1.80   virginica
146          6.30         2.50          5.00         1.90   virginica
119          6.00         2.20          5.00         1.50   virginica
113          5.70         2.50          5.00         2.00   virginica
77           6.70         3.00          5.00         1.70  versicolor
141          6.90         3.10          5.10         2.30   virginica
114          5.80         2.80          5.10         2.40   virginica
133          6.30         2.80          5.10         1.50   virginica
142          5.80         2.70          5.10         1.90   virginica
149          5.90         3.00          5.10         1.80   virginica
110          6.50         3.20          5.10         2.00   virginica
83           6.00         2.70          5.10         1.60  versicolor
101          5.80         2.70          5.10         1.90   virginica
147          6.50         3.00          5.20         2.00   virginica
145          6.70         3.00          5.20         2.30   virginica
111          6.40         2.70          5.30         1.90   virginica
115          6.40         3.20          5.30         2.30   virginica
139          6.90         3.10          5.40         2.10   virginica
148          6.20         3.40          5.40         2.30   virginica
137          6.40         3.10          5.50         1.80   virginica
112          6.80         3.00          5.50         2.10   virginica
116          6.50         3.00          5.50         1.80   virginica
136          6.30         3.40          5.60         2.40   virginica
140          6.70         3.10          5.60         2.40   virginica
128          6.40         2.80          5.60         2.10   virginica
134          6.10         2.60          5.60         1.40   virginica
103          6.30         2.90          5.60         1.80   virginica
132          6.40         2.80          5.60         2.20   virginica
144          6.70         3.30          5.70         2.50   virginica
120          6.90         3.20          5.70         2.30   virginica
124          6.70         3.30          5.70         2.10   virginica
108          6.70         2.50          5.80         1.80   virginica
129          7.20         3.00          5.80         1.60   virginica
104          6.50         3.00          5.80         2.20   virginica
102          7.10         3.00          5.90         2.10   virginica
143          6.80         3.20          5.90         2.30   virginica
100          6.30         3.30          6.00         2.50   virginica
125          7.20         3.20          6.00         1.80   virginica
130          7.40         2.80          6.10         1.90   virginica
135          7.70         3.00          6.10         2.30   virginica
109          7.20         3.60          6.10         2.50   virginica
107          7.30         2.90          6.30         1.80   virginica
131          7.90         3.80          6.40         2.00   virginica
105          7.60         3.00          6.60         2.10   virginica
117          7.70         3.80          6.70         2.20   virginica
122          7.70         2.80          6.70         2.00   virginica
118          7.70         2.60          6.90         2.30   virginica

In [76]:
df.sort_values(by='petal_length',ascending=False) #sorting in the descending order

     sepal_length  sepal_width  petal_length  petal_width     species
118          7.70         2.60          6.90         2.30   virginica
122          7.70         2.80          6.70         2.00   virginica
117          7.70         3.80          6.70         2.20   virginica
105          7.60         3.00          6.60         2.10   virginica
131          7.90         3.80          6.40         2.00   virginica
107          7.30         2.90          6.30         1.80   virginica
130          7.40         2.80          6.10         1.90   virginica
109          7.20         3.60          6.10         2.50   virginica
135          7.70         3.00          6.10         2.30   virginica
100          6.30         3.30          6.00         2.50   virginica
125          7.20         3.20          6.00         1.80   virginica
102          7.10         3.00          5.90         2.10   virginica
143          6.80         3.20          5.90         2.30   virginica
129          7.20         3.00          5.80         1.60   virginica
108          6.70         2.50          5.80         1.80   virginica
104          6.50         3.00          5.80         2.20   virginica
124          6.70         3.30          5.70         2.10   virginica
144          6.70         3.30          5.70         2.50   virginica
120          6.90         3.20          5.70         2.30   virginica
132          6.40         2.80          5.60         2.20   virginica
140          6.70         3.10          5.60         2.40   virginica
103          6.30         2.90          5.60         1.80   virginica
128          6.40         2.80          5.60         2.10   virginica
134          6.10         2.60          5.60         1.40   virginica
136          6.30         3.40          5.60         2.40   virginica
112          6.80         3.00          5.50         2.10   virginica
116          6.50         3.00          5.50         1.80   virginica
137          6.40         3.10          5.50         1.80   virginica
148          6.20         3.40          5.40         2.30   virginica
139          6.90         3.10          5.40         2.10   virginica
115          6.40         3.20          5.30         2.30   virginica
111          6.40         2.70          5.30         1.90   virginica
145          6.70         3.00          5.20         2.30   virginica
147          6.50         3.00          5.20         2.00   virginica
101          5.80         2.70          5.10         1.90   virginica
83           6.00         2.70          5.10         1.60  versicolor
110          6.50         3.20          5.10         2.00   virginica
149          5.90         3.00          5.10         1.80   virginica
114          5.80         2.80          5.10         2.40   virginica
133          6.30         2.80          5.10         1.50   virginica
142          5.80         2.70          5.10         1.90   virginica
141          6.90         3.10          5.10         2.30   virginica
113          5.70         2.50          5.00         2.00   virginica
119          6.00         2.20          5.00         1.50   virginica
77           6.70         3.00          5.00         1.70  versicolor
146          6.30         2.50          5.00         1.90   virginica
52           6.90         3.10          4.90         1.50  versicolor
72           6.30         2.50          4.90         1.50  versicolor
127          6.10         3.00          4.90         1.80   virginica
121          5.60         2.80          4.90         2.00   virginica
123          6.30         2.70          4.90         1.80   virginica
138          6.00         3.00          4.80         1.80   virginica
76           6.80         2.80          4.80         1.40  versicolor
70           5.90         3.20          4.80         1.80  versicolor
126          6.20         2.80          4.80         1.80   virginica
63           6.10         2.90          4.70         1.40  versicolor
86           6.70         3.10          4.70         1.50  versicolor
56           6.30         3.30          4.70         1.60  versicolor
73           6.10         2.80          4.70         1.20  versicolor
50           7.00         3.20          4.70         1.40  versicolor
58           6.60         2.90          4.60         1.30  versicolor
91           6.10         3.00          4.60         1.40  versicolor
54           6.50         2.80          4.60         1.50  versicolor
85           6.00         3.40          4.50         1.60  versicolor
55           5.70         2.80          4.50         1.30  versicolor
84           5.40         3.00          4.50         1.50  versicolor
66           5.60         3.00          4.50         1.50  versicolor
78           6.00         2.90          4.50         1.50  versicolor
68           6.20         2.20          4.50         1.50  versicolor
106          4.90         2.50          4.50         1.70   virginica
51           6.40         3.20          4.50         1.50  versicolor
90           5.50         2.60          4.40         1.20  versicolor
87           6.30         2.30          4.40         1.30  versicolor
75           6.60         3.00          4.40         1.40  versicolor
65           6.70         3.10          4.40         1.40  versicolor
74           6.40         2.90          4.30         1.30  versicolor
97           6.20         2.90          4.30         1.30  versicolor
95           5.70         3.00          4.20         1.20  versicolor
94           5.60         2.70          4.20         1.30  versicolor
61           5.90         3.00          4.20         1.50  versicolor
96           5.70         2.90          4.20         1.30  versicolor
99           5.70         2.80          4.10         1.30  versicolor
67           5.80         2.70          4.10         1.00  versicolor
88           5.60         3.00          4.10         1.30  versicolor
53           5.50         2.30          4.00         1.30  versicolor
62           6.00         2.20          4.00         1.00  versicolor
71           6.10         2.80          4.00         1.30  versicolor
89           5.50         2.50          4.00         1.30  versicolor
92           5.80         2.60          4.00         1.20  versicolor
82           5.80         2.70          3.90         1.20  versicolor
59           5.20         2.70          3.90         1.40  versicolor
69           5.60         2.50          3.90         1.10  versicolor
80           5.50         2.40          3.80         1.10  versicolor
81           5.50         2.40          3.70         1.00  versicolor
64           5.60         2.90          3.60         1.30  versicolor
60           5.00         2.00          3.50         1.00  versicolor
79           5.70         2.60          3.50         1.00  versicolor
93           5.00         2.30          3.30         1.00  versicolor
57           4.90         2.40          3.30         1.00  versicolor
98           5.10         2.50          3.00         1.10  versicolor
24           4.80         3.40          1.90         0.20      setosa
44           5.10         3.80          1.90         0.40      setosa
18           5.70         3.80          1.70         0.30      setosa
5            5.40         3.90          1.70         0.40      setosa
20           5.40         3.40          1.70         0.20      setosa
23           5.10         3.30          1.70         0.50      setosa
46           5.10         3.80          1.60         0.20      setosa
43           5.00         3.50          1.60         0.60      setosa
25           5.00         3.00          1.60         0.20      setosa
26           5.00         3.40          1.60         0.40      setosa
29           4.70         3.20          1.60         0.20      setosa
11           4.80         3.40          1.60         0.20      setosa
30           4.80         3.10          1.60         0.20      setosa
21           5.10         3.70          1.50         0.40      setosa
32           5.20         4.10          1.50         0.10      setosa
27           5.20         3.50          1.50         0.20      setosa
15           5.70         4.40          1.50         0.40      setosa
31           5.40         3.40          1.50         0.40      setosa
19           5.10         3.80          1.50         0.30      setosa
34           4.90         3.10          1.50         0.10      setosa
10           5.40         3.70          1.50         0.20      setosa
37           4.90         3.10          1.50         0.10      setosa
9            4.90         3.10          1.50         0.10      setosa
39           5.10         3.40          1.50         0.20      setosa
7            5.00         3.40          1.50         0.20      setosa
48           5.30         3.70          1.50         0.20      setosa
3            4.60         3.10          1.50         0.20      setosa
12           4.80         3.00          1.40         0.10      setosa
8            4.40         2.90          1.40         0.20      setosa
6            4.60         3.40          1.40         0.30      setosa
17           5.10         3.50          1.40         0.30      setosa
4            5.00         3.60          1.40         0.20      setosa
0            5.10         3.50          1.40         0.20      setosa
1            4.90         3.00          1.40         0.20      setosa
28           5.20         3.40          1.40         0.20      setosa
49           5.00         3.30          1.40         0.20      setosa
33           5.50         4.20          1.40         0.20      setosa
47           4.60         3.20          1.40         0.20      setosa
45           4.80         3.00          1.40         0.30      setosa
41           4.50         2.30          1.30         0.30      setosa
2            4.70         3.20          1.30         0.20      setosa
42           4.40         3.20          1.30         0.20      setosa
38           4.40         3.00          1.30         0.20      setosa
40           5.00         3.50          1.30         0.30      setosa
16           5.40         3.90          1.30         0.40      setosa
36           5.50         3.50          1.30         0.20      setosa
35           5.00         3.20          1.20         0.20      setosa
14           5.80         4.00          1.20         0.20      setosa
13           4.30         3.00          1.10         0.10      setosa
22           4.60         3.60          1.00         0.20      setosa

In [77]:
# sorting by multiple columns
sorted_data_multiple = df.sort_values(by=['sepal_length','sepal_width'],ascending=[False,True])
print('\nSorted data by sepal_length(descending) and sepal_width(ascending)')
print(sorted_data_multiple.head())

Sorted data by sepal_length(descending) and sepal_width(ascending)
     sepal_length  sepal_width  petal_length  petal_width    species
131          7.90         3.80          6.40         2.00  virginica
118          7.70         2.60          6.90         2.30  virginica
122          7.70         2.80          6.70         2.00  virginica
135          7.70         3.00          6.10         2.30  virginica
117          7.70         3.80          6.70         2.20  virginica

In [82]:
# filtering the dataset
filtered_data = df[df['petal_length']>1.5]
print('\nFiltered data(petal_length > 1.5):')
(filtered_data.head())

Filtered data(petal_length > 1.5):

    sepal_length  sepal_width  petal_length  petal_width species
5           5.40         3.90          1.70         0.40  setosa
11          4.80         3.40          1.60         0.20  setosa
18          5.70         3.80          1.70         0.30  setosa
20          5.40         3.40          1.70         0.20  setosa
23          5.10         3.30          1.70         0.50  setosa

In [83]:
# grouping by species and calculating means
grouped_data = df.groupby('species').mean()
print("\nMean Values Grouped by species :")
grouped_data

Mean Values Grouped by species :

            sepal_length  sepal_width  petal_length  petal_width
species
setosa              5.01         3.42          1.46         0.24
versicolor          5.94         2.77          4.26         1.33
virginica           6.59         2.97          5.55         2.03

In [86]:
# adding a new column for sepal_area (feature engineering)
df['sepal_area'] = df['sepal_length'] * df['sepal_width']
print("\nDataset with sepal_area column add:")
print(df.head())

Dataset with sepal_area column add:
   sepal_length  sepal_width  ...  species  sepal_area
0          5.10         3.50  ...   setosa       17.85
1          4.90         3.00  ...   setosa       14.70
2          4.70         3.20  ...   setosa       15.04
3          4.60         3.10  ...   setosa       14.26
4          5.00         3.60  ...   setosa       18.00

[5 rows x 6 columns]

In [101]:
#eg. function to classify sepal length into categories
def classify_sepal_length(length):
    if length < 5.5:
        return 'Short'
    elif length <6.5:
        return 'Medium'
    else:
        return 'Long'

In [102]:
df['sepal_length_category'] = df['sepal_length'].apply(classify_sepal_length)
print("\nDataset with sepal_length_category column add:")
print(df.head())

Dataset with sepal_length_category column add:
   sepal_length  sepal_width  ...  sepal_area  sepal_length_category
0          5.10         3.50  ...       17.85                  Short
1          4.90         3.00  ...       14.70                  Short
2          4.70         3.20  ...       15.04                  Short
3          4.60         3.10  ...       14.26                  Short
4          5.00         3.60  ...       18.00                  Short

[5 rows x 7 columns]

In [103]:
pivot_table = pd.pivot_table(df, values='petal_width', index='species', columns='sepal_length_category', aggfunc='mean')
print("\nDataset with sepal_length_category:")
print(pivot_table)

Dataset with sepal_length_category:
sepal_length_category  Long  Medium  Short
species
setosa                  NaN    0.26   0.24
versicolor             1.46    1.32   1.17
virginica              2.11    1.95   1.70

In [104]:
encoded_data = pd.get_dummies(df, columns=['species'])
print("\nDataset with species column encoded:")
print(encoded_data.head())

Dataset with species column encoded:
   sepal_length  sepal_width  ...  species_versicolor  species_virginica
0          5.10         3.50  ...               False              False
1          4.90         3.00  ...               False              False
2          4.70         3.20  ...               False              False
3          4.60         3.10  ...               False              False
4          5.00         3.60  ...               False              False

[5 rows x 9 columns]

In [106]:
concatenated_data = pd.concat([df, df.copy()], ignore_index=True)
print("\nConcatenated dataset:")
print(concatenated_data.head())

Concatenated dataset:
   sepal_length  sepal_width  ...  sepal_area  sepal_length_category
0          5.10         3.50  ...       17.85                  Short
1          4.90         3.00  ...       14.70                  Short
2          4.70         3.20  ...       15.04                  Short
3          4.60         3.10  ...       14.26                  Short
4          5.00         3.60  ...       18.00                  Short

[5 rows x 7 columns]

In [112]:
melted_data = pd.melt(df,id_vars=['species'],
                     value_vars=['sepal_length','sepal_width','petal_length',
                                'petal_width'])
print("\nMelted dataset:")
print(melted_data.head())

Melted dataset:
  species      variable  value
0  setosa  sepal_length   5.10
1  setosa  sepal_length   4.90
2  setosa  sepal_length   4.70
3  setosa  sepal_length   4.60
4  setosa  sepal_length   5.00

## working with User_car Datasets

In [53]:
import pandas as pd

## load

In [54]:
data = pd.read_csv(r'D:\Data_science\Day_2\used_cars.csv')

In [55]:
data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [57]:
data.shape

(4009, 12)

In [58]:
print(list(data.columns))

['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine', 'transmission', 'ext_col', 'int_col', 'accident', 'clean_title', 'price']

In [59]:
data.describe()

        model_year
count  4009.000000
mean   2015.515590
std       6.104816
min    1974.000000
25%    2012.000000
50%    2017.000000
75%    2020.000000
max    2024.000000

In [60]:
Columns_to_check=data.columns

In [61]:
for col in data.columns:
    print(f"\ Value counts for'{col}':")
    print(data[col].value_counts())

\ Value counts for'brand':
brand
Ford             386
BMW              375
Mercedes-Benz    315
Chevrolet        292
Porsche          201
Audi             200
Toyota           199
Lexus            163
Jeep             143
Land             130
Nissan           116
Cadillac         107
GMC               91
RAM               91
Dodge             90
Tesla             87
Kia               76
Hyundai           72
Mazda             64
Acura             64
Subaru            64
Honda             63
Volkswagen        59
INFINITI          59
Lincoln           52
Jaguar            47
Volvo             38
Maserati          34
Bentley           33
MINI              33
Buick             30
Chrysler          28
Lamborghini       26
Mitsubishi        20
Genesis           20
Alfa              19
Rivian            17
Hummer            16
Pontiac           15
Ferrari           12
Rolls-Royce       11
Aston              9
McLaren            6
Scion              6
FIAT               5
Saturn             5
Lotus              4
Lucid              3
Mercury            3
Karma              2
Saab               2
Polestar           1
Bugatti            1
Plymouth           1
smart              1
Maybach            1
Suzuki             1
Name: count, dtype: int64
\ Value counts for'model':
model
M3 Base                    30
F-150 XLT                  24
Corvette Base              22
1500 Laramie               18
Camaro 2SS                 17
                           ..
XE 25t                      1
MC20 Base                   1
911 Carrera 4 Cabriolet     1
488 GTB Base                1
Taycan                      1
Name: count, Length: 1898, dtype: int64
\ Value counts for'model_year':
model_year
2022    354
2021    350
2020    322
2018    315
2019    297
2016    268
2017    259
2015    228
2023    226
2014    181
2013    158
2012    141
2011    124
2008    113
2010    100
2007     98
2005     72
2009     72
2006     66
2004     60
2003     49
2001     34
2002     32
2000     17
1999     15
1998     11
1997      9
1993      9
1996      8
1994      7
2024      6
1995      6
1974      1
1992      1
Name: count, dtype: int64
\ Value counts for'milage':
milage
110,000 mi.    16
45,000 mi.     15
120,000 mi.    13
55,000 mi.     13
92,000 mi.     12
               ..
40,900 mi.      1
74,150 mi.      1
94,448 mi.      1
34,967 mi.      1
2,116 mi.       1
Name: count, Length: 2818, dtype: int64
\ Value counts for'fuel_type':
fuel_type
Gasoline          3309
Hybrid             194
E85 Flex Fuel      139
Diesel             116
–                   45
Plug-In Hybrid      34
not supported        2
Name: count, dtype: int64
\ Value counts for'engine':
engine
2.0L I4 16V GDI DOHC Turbo                               52
355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel             48
420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel             47
–                                                        45
300.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel    44
                                                         ..
323.0HP 6.0L 8 Cylinder Engine Gasoline Fuel              1
405.0HP 4.2L 8 Cylinder Engine Gasoline Fuel              1
353.0HP 6.0L 8 Cylinder Engine Gasoline Fuel              1
275.0HP 4.8L 8 Cylinder Engine Gasoline Fuel              1
420.0HP 5.9L 12 Cylinder Engine Gasoline Fuel             1
Name: count, Length: 1146, dtype: int64
\ Value counts for'transmission':
transmission
A/T                                              1037
8-Speed A/T                                       406
Transmission w/Dual Shift Mode                    398
6-Speed A/T                                       362
6-Speed M/T                                       248
                                                 ...
Automatic, 8-Spd PDK Dual-Clutch                    1
Auto, 6-Spd w/CmdShft                               1
Automatic, 8-Spd Sport w/Sport & Manual Modes       1
CVT-F                                               1
8-Speed Manual                                      1
Name: count, Length: 62, dtype: int64
\ Value counts for'ext_col':
ext_col
Black                       905
White                       816
Gray                        496
Silver                      374
Blue                        349
                           ...
Anthracite Blue Metallic      1
Moonlight Cloud               1
Silver Mist                   1
Cirrus Silver Metallic        1
C / C                         1
Name: count, Length: 319, dtype: int64
\ Value counts for'int_col':
int_col
Black               2025
Beige                538
Gray                 472
Brown                157
–                    133
                    ...
Almond Beige           1
Kyalami Orange         1
Sakhir Orange          1
Tan/Ebony              1
Black / Graphite       1
Name: count, Length: 156, dtype: int64
\ Value counts for'accident':
accident
None reported                             2910
At least 1 accident or damage reported     986
Name: count, dtype: int64
\ Value counts for'clean_title':
clean_title
Yes    3413
Name: count, dtype: int64
\ Value counts for'price':
price
$15,000    39
$12,000    29
$30,000    28
$16,000    25
$29,000    25
           ..
$43,666     1
$70,250     1
$80,140     1
$31,750     1
$90,998     1
Name: count, Length: 1569, dtype: int64

<>:2: SyntaxWarning: invalid escape sequence '\ '
<>:2: SyntaxWarning: invalid escape sequence '\ '
C:\Users\Dell\AppData\Local\Temp\ipykernel_10928\2728353622.py:2: SyntaxWarning: invalid escape sequence '\ '
  print(f"\ Value counts for'{col}':")

In [62]:
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows:{duplicates}")

Number of duplicate rows:0

In [63]:
data.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [64]:
missing_columns=[]
for col in data.columns:
    if data[col].isnull().sum()>0:
        missing_columns.append(col)

print(missing_columns)

['fuel_type', 'accident', 'clean_title']

In [65]:
missing_columns={}
for col in data.columns:
    missing_count=data[col].isnull().sum()
    if missing_count > 0:
        missing_percentage=(missing_count/len(data))*100
        missing_columns[col]=round(missing_percentage, 2)

print("\nMissing coulumns with percentage is ")

for col,percentage in missing_columns.items():
    print(f'{col}: {percentage}%')

Missing coulumns with percentage is
fuel_type: 4.24%
accident: 2.82%
clean_title: 14.87%

In [66]:
data['milage'] = data['milage'].str.replace('mi.','').str.replace(',','')

In [67]:
data['milage'].head().astype('int32')

0    51000
1    34742
2    22372
3    88900
4     9835
Name: milage, dtype: int32

In [70]:
data['price'] = data['price'].str.replace('$','').str.replace(',','')

In [71]:
data['price'].head().astype('float')

0    10300.0
1    38005.0
2    54598.0
3    15500.0
4    34999.0
Name: price, dtype: float64

In [72]:
import re
data['engine_capacity'] = data['engine'].str.extract(r'(\d+\.\d+L|d+L|\d+\.\d+ Liter)')

In [73]:
data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,engine_capacity
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300,3.7L
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005,3.8L
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598,3.5 Liter
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500,3.5L
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999,2.0L

In [74]:
data['engine_capacity'] = data['engine_capacity'].str.replace('Liter','').str.replace('L','').astype('float')

In [41]:
data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,engine_capacity
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300,3.7
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005,3.8
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598,3.5
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500,3.5
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999,2.0

In [75]:
import re
data['horsepower'] = data['engine'].str.extract(r'(\d+\.\d+HP)')

In [76]:
data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,engine_capacity,horsepower
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300,3.7,300.0HP
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005,3.8,NaN
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598,3.5,NaN
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500,3.5,354.0HP
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999,2.0,NaN

In [78]:
data['horsepower'] = data['horsepower'].str.replace('HP','').astype('float')

In [79]:
data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,engine_capacity,horsepower
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300,3.7,300.0
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005,3.8,NaN
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598,3.5,NaN
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500,3.5,354.0
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999,2.0,NaN

In [82]:
data['accidentOccured'] = data['accident'].apply(
    lambda x: 'yes' if x == 'At least 1 accident or damage reported' else 'No'
)

In [84]:
data.head(50)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,engine_capacity,horsepower,accidentOccured
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300,3.7,300.0,yes
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005,3.8,NaN,yes
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598,3.5,NaN,No
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,15500,3.5,354.0,No
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999,2.0,NaN,No
5,Acura,ILX 2.4L,2016,136397,Gasoline,2.4 Liter,F,Silver,Ebony.,None reported,NaN,14798,2.4,NaN,No
6,Audi,S3 2.0T Premium Plus,2017,84000,Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,31000,2.0,292.0,No
7,BMW,740 iL,2001,242000,Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,7300,4.4,282.0,No
8,Lexus,RC 350 F Sport,2021,23436,Gasoline,311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,None reported,Yes,41927,3.5,311.0,No
9,Tesla,Model X Long Range Plus,2020,34000,NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,69950,NaN,534.0,No
10,Land,Rover Range Rover Sport 3.0 Supercharged HST,2021,27608,Gasoline,V6,Automatic,Fuji White,Pimento / Ebony,None reported,NaN,73897,NaN,NaN,No
11,Aston,Martin DBS Superleggera,2019,22770,Gasoline,715.0HP 5.2L 12 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes,184606,5.2,715.0,No
12,Toyota,Supra 3.0 Premium,2021,12500,Gasoline,382.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,A/T,Yellow,Black,None reported,Yes,53500,3.0,382.0,No
13,Lincoln,Aviator Reserve AWD,2022,18196,Gasoline,400.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Brown,None reported,Yes,62000,3.0,400.0,No
14,Jaguar,F-TYPE,2020,15903,Gasoline,2.0 Liter Supercharged,Automatic,Silver,Black,None reported,NaN,47998,2.0,NaN,No
15,Land,Rover LR4 HSE,2013,79800,Gasoline,375.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,29990,5.0,375.0,No
16,Mercedes-Benz,Metris Base,2021,1685,Gasoline,2.0L I4 16V GDI DOHC Turbo,9-Speed Automatic,Gray,White,None reported,Yes,250000,2.0,NaN,No
17,Dodge,Challenger SXT,2013,61074,Gasoline,305.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Gray,None reported,Yes,16800,3.6,305.0,No
18,Nissan,350Z Enthusiast,2003,74000,Gasoline,287.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed M/T,Purple,–,None reported,Yes,11000,3.5,287.0,No
19,Jaguar,F-TYPE R,2018,35250,Gasoline,550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Green,Black,None reported,Yes,68750,5.0,550.0,No
20,Genesis,GV70 3.5T Sport,2023,5400,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Green,Beige,NaN,NaN,60000,3.5,375.0,No
21,Chevrolet,S-10 LS,2000,133510,E85 Flex Fuel,120.0HP 2.2L 4 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Black,None reported,Yes,4500,2.2,120.0,No
22,BMW,440 Gran Coupe 440i xDrive,2020,25990,Gasoline,3.0 Liter Turbo,Automatic,White,Beige,None reported,NaN,38598,3.0,NaN,No
23,Ford,F-150 XLT,2023,2823,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,Automatic,Iconic Silver Metallic,Black,None reported,Yes,58504,3.5,NaN,No
24,Chevrolet,Suburban RST,2021,52000,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Black,None reported,Yes,61000,5.3,355.0,No
25,Hyundai,Elantra N Base,2022,11650,Gasoline,276.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,32300,2.0,276.0,No
26,Nissan,Sentra SR,2016,96541,Gasoline,1.8 Liter,Automatic,Blue,Black,None reported,NaN,13998,1.8,NaN,No
27,Mercedes-Benz,AMG CLA 45 Base 4MATIC,2021,17500,Gasoline,382.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes,59995,2.0,382.0,No
28,BMW,650 Gran Coupe i xDrive,2015,69000,Gasoline,445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Black,None reported,Yes,25700,4.4,445.0,No
29,Audi,Q5 2.0T Premium Plus,2017,81880,E85 Flex Fuel,2.0L I4 16V GDI DOHC Turbo Flexible Fuel,8-Speed Automatic,Mythos Black Metallic,Black,None reported,Yes,21375,2.0,NaN,No
30,Mercedes-Benz,AMG C 43 Base 4MATIC,2018,28800,Gasoline,362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,9-Speed A/T,Silver,Black,None reported,Yes,48000,3.0,362.0,No
31,Dodge,Ram 1500 Laramie Mega Cab,2006,300183,Gasoline,345.0HP 5.7L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Gray,At least 1 accident or damage reported,Yes,10900,5.7,345.0,yes
32,BMW,i3 120Ah w/Range Extender,2020,35035,Hybrid,120 AH,Automatic,Black,Black,None reported,NaN,24998,NaN,NaN,No
33,Kia,Sorento SX,2011,171000,Gasoline,276.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,5999,3.5,276.0,No
34,Lexus,LX 570 Base,2016,118700,Gasoline,383.0HP 5.7L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Beige,None reported,Yes,46900,5.7,383.0,No
35,Jeep,New Compass Trailhawk,2017,119000,Gasoline,180.0HP 2.4L 4 Cylinder Engine Gasoline Fuel,A/T,Red,Black,None reported,Yes,15900,2.4,180.0,No
36,BMW,340 i,2018,44261,Gasoline,3.0 Liter Turbo,Automatic,Gray,Black,None reported,NaN,33598,3.0,NaN,No
37,Audi,A4 2.0T Premium Plus quattro,2012,125575,Gasoline,211.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes,8999,2.0,211.0,No
38,Hyundai,Tucson SE,2007,16200,Gasoline,173.0HP 2.7L V6 Cylinder Engine Gasoline Fuel,A/T,Gold,Beige,None reported,Yes,8200,2.7,173.0,No
39,BMW,Z4 sDrive28i,2014,70000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,White,Beige,At least 1 accident or damage reported,Yes,20000,2.0,240.0,yes
40,Bentley,Continental GTC Base,2011,20200,E85 Flex Fuel,552.0HP 6.0L 12 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,None reported,Yes,79950,6.0,552.0,No
41,Honda,Passport Elite,2023,2978,Gasoline,3.5 Liter SOHC,Automatic,Lunar Silver Metallic,Gray,None reported,NaN,45498,3.5,NaN,No
42,Dodge,Sprinter 2500,2007,189719,Diesel,3.0L V6 Cylinder Engine Diesel Fuel,5-Speed A/T,White,Gray,At least 1 accident or damage reported,Yes,14000,3.0,NaN,yes
43,BMW,M850 i xDrive,2019,9949,Gasoline,4.4 Liter DOHC Twin Turbo,Automatic,Blue,Black,None reported,NaN,75798,4.4,NaN,No
44,Lucid,Air Grand Touring,2022,3552,NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Beige,None reported,Yes,119999,NaN,536.0,No
45,Audi,A7 Premium,2012,54000,Gasoline,310.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Brown,At least 1 accident or damage reported,Yes,36880,3.0,310.0,yes
46,Chevrolet,Silverado 1500 Custom Trail Boss,2021,51351,Gasoline,5.3L V8 16V GDI OHV,Automatic,Black,Jet Black,None reported,Yes,43147,5.3,NaN,No
47,MINI,Convertible John Cooper Works,2017,24280,Gasoline,228.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,29000,2.0,228.0,yes
48,Toyota,Avalon Touring,2016,89148,Gasoline,268.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,17500,3.5,268.0,No
49,Porsche,Cayenne Platinum Edition,2017,73043,Gasoline,300.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Black,None reported,Yes,30990,3.6,300.0,No

In [ ]:
data['carType'] = data['model_year'].apply(
    lambda x: 'yes' if x == 'At least 1 accident or damage reported' else 'No'
)